* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

html {
	height: 100vh;
	background: radial-gradient(#333, black);
}

body::before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	content: url("/button_text.svg");
	transform: translate(-50%, -50%);
	background: white;
	padding: 50px;
	border-radius: 10px;
	color: black;
}