* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

html {
	height: 100vh;
	background: radial-gradient(#333, black);
}

body::before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white url("/button_text.svg") center center no-repeat;
	padding: 50px;
	border-radius: 10px;
	width: 200px;
	height: 100px;
}