* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

html {
	height: 100vh;
	background: radial-gradient(#333, black);
}

body::before {
	content: "";
	display: block;
	background: white url("/button_text.svg") center center no-repeat;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	cursor: pointer;
}

body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 100px;
}

body:active::before {
	background: black;
}